*.o
*.mod
*.swp
*.bak
dladgen.f
dataSpec_P5B.f90
LIDF.f90
MODULE_PRO4SAIL.f90
PRO4SAIL.f90
prosail_interface.f90
prospect_5B.f90
tav_abs.f90
volscatt.f90
PROSAIL_EXEC_w_interface
tex/short_report.log
tex/short_report.synctex.gz
*log
*gz

